<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ckdeleter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ckdownloader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ckuploader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>888C890B1DE8AC0C00A7FCC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>888C894D1DE8C2A300A7FCC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>888C89631DE8C2C500A7FCC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>888C89791DE8C2E300A7FCC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
